*
!*.*
!*/

*.exe
*.o
*.so
*.dll

*.zip
*.rar
*.tar
*.7z
*.jar
*.iso
*.gz
*.dmgd

*.doc
*.docx
*.log
*.dat
*.csv
*.npy

*.mp4
*.gif
*.avi
*.flv
*.mpeg
*.mpg

*.png

**/.vscode*
**/__pycache__/*
**/.ipynb_checkpoints/*
**/*.lprof

**/build/*
**/dist/*
**/*.egg-info/*
**/*.egg
**/extras/*
.hidden
.coverage
